
::-webkit-scrollbar {
    width: 5px;
   display: none;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #253664;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1459dc;
    /*visibility: visible;*/
    display: block;
}

.fs-16{
    font-size: 18px !important;
}

.text-start {
    text-align: left !important;
}

.text-end {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.clickable{
    cursor: pointer;
}
